<h1>Edit Goal</h1>

<form action="<%=goal_url(@goal)%>" method="post" accept-charset="utf-8">
	<input type="hidden" name="_method" value="put">

	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>" id="authenticity_token">

	<label for="goal-title">Title</label>
	<input type="text" name="goal[title]" value="<%= @goal.title %>" id="goal-title"><br>


	<label for="goal-body">Description</label>
	<textarea name="goal[body]" id="goal-body"><%= @goal.body %></textarea><br>

	<label for="goal-private">Private?</label>
	<input type="checkbox" name="goal[private]" value="true" id="goal-private" <%= "checked" if @goal.private %>>


	<p><input type="submit" value="Update Goal"></p>
</form>